[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BigDataPE"]
	path = BigDataPE
	url = https://github.com/strategicprojects/bigdatape
[submodule "RapidFuzz"]
	path = RapidFuzz
	url = https://github.com/strategicprojects/rapidfuzz
[submodule "pikchr"]
	path = pikchr
	url = https://github.com/strategicprojects/pikchr
[submodule "webdav"]
	path = webdav
	url = https://github.com/strategicprojects/webdav
