[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BigDataPE"]
	path = BigDataPE
	url = https://github.com/strategicprojects/bigdatape
[submodule "RapidFuzz"]
	path = RapidFuzz
	url = https://github.com/strategicprojects/rapidfuzz
[submodule "diario"]
	path = diario
	url = https://github.com/strategicprojects/diario
[submodule "evolution"]
	path = evolution
	url = https://github.com/strategicprojects/evolution
[submodule "pikchr"]
	path = pikchr
	url = https://github.com/strategicprojects/pikchr
[submodule "plug"]
	path = plug
	url = https://github.com/strategicprojects/plug
[submodule "webdav"]
	path = webdav
	url = https://github.com/strategicprojects/webdav
[submodule "whapi"]
	path = whapi
	url = https://github.com/strategicprojects/whapi
